<div class="hamburger-menu" class="force-top">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>

    <ul class="menu__box" >
      <li><a class="menu__item" (click)="reload()">Reload</a></li>
      <li><a class="menu__item"(click)="Reset()">Reset</a></li>
      <li><a class="menu__item"(click)="BackUp()">BackUp</a></li>
      <li><a class="menu__item"(click)="exit()">EXIT</a></li>

      
    </ul>
  </div>


<!-- 
  <li><button  type="button"  class="btn btn-outline-success reload " (click)="reload()">Reload</button></li>
     <li><button  type="button"  class="btn btn-outline-danger reset" (click)="Reset()">Reset</button></li> -->